*{margin:0px;padding:0px;}

body{background-color:black;
margin: 20px auto;}

h2{color:white;
font-size: 20px;
font-weight: bold;
text-align: center;
font-variant: small-caps;
word-spacing: .5em;
letter-spacing: .6em;}
h1{color:white;
font-size: 70px;
margin:10px auto;
text-align:center;}

section{text-align: center;}
img{width: 60%;}
p{color:white;
font-size: 18px;
margin: 10px auto;}
section a#enter{margin-top: 30px;
font-size: 40px;
font-family: monospace;
text-decoration: none;
color: grey;}
section a#enter:hover{font-size: 45px;}
section a#enter:active{color: white;}