*{margin:0;padding:0;}
a{text-decoration: none;}

header{background-color:grey;position: relative;height: 110px;}
header img{position: absolute;left: 10px;top: 10px;}
header h1{font-size: 80px;color: white;letter-spacing: 1px;position: absolute;left: 100px;top: 25px;}
header form{position: absolute;right: 10px;top: 70px;}
header form label{display: none;}
header form input{outline: none;-webkit-transition:.5s width;width: 100px;}
header form input:focus{width: 150px;};

nav.nav_title ul{overflow: hidden;background-color: #eee;padding: 10px 10px;position: relative;}
nav.nav_title li{list-style-type: none;float: left;display:block;position: relative;}
nav.nav_title li:last-child{position:absolute;right: 0px;}
nav.nav_title li+li a{border-left:1px solid grey;}
nav.nav_title li a{color: grey;font-size: 30px;font-variant: small-caps;padding:5px 20px;}
nav.nav_title li a#resume{border:0px;color: red;}
nav.nav_title li:hover > a{color: black;}

nav.nav_title li ul{position: absolute;left: 0;top: 100%;-webkit-transition:1s all;opacity: 0; visibility: hidden;}
nav.nav_title li li{width: 180px;background-color: white;}
nav.nav_title li li a{border:0px;}
nav.nav_title li li:hover > a{margin-left: 3px;}
nav.nav_title li:hover > ul{opacity: 1; visibility: visible;}

nav.nav_title li li ul{position: absolute;left: 100%;top: 0;-webkit-transition:1s all;opacity: 0; visibility: hidden;}
nav.nav_title li li:hover > ul{opacity: 1; visibility: visible;}
nav.nav_title li li ul{border-bottom: 5px solid #eee;border-right: 5px solid #eee;border-radius: 5px;}
nav.nav_title li li li{width: 200px;}
nav.nav_title li li li a{font-size: 20px;line-height: 25px;}

section{margin-top: 70px;}

section article{display: table-cell;padding-left: 20px;}




section aside{display: table-cell;width: 300px;border-left: 1px solid grey;padding-left: 15px;float: right;}
form.login{background-color: #eee;border-radius: 2px;padding:10px;width: 240px;box-shadow: 1px 1px 2px;}
form.login legend{font-size: 25px;color:grey;}
form.login label{display: block;font-size: 15px;padding-top: 5px;}
form.login input{height: 20px;outline: none;}
form.login input#name{margin-left: 20px;}
form.login input#password{margin-left: 35px;}
form.login input#submit{margin-top: 10px;width: 50px;color: grey;cursor: pointer;font-size: 12px;}

nav.nav_links ul{padding-top: 20px;padding-left: 20px;}
nav.nav_links li{list-style-type: none;display: block;}
nav.nav_links li a{font-size: 23px;color:grey;font-family:FangSong;}
nav.nav_links li ul{margin-left: -20px;margin-top: -10px;width: 90px;}
nav.nav_links li li a{border-bottom: 1px solid #eee;font-size: 18px;display: block;padding: 5px;}



